body{
    padding: 25px;
    background-image: url('assets/backg.png');
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    position: absolute;
    left: 5px;
    top: -30px;
    color: rgb(0, 17, 255);
    font-size: 40px;
    z-index: 2000;
}

  .player{
    width: 80px;
    height: 100px;
    background-image: url('assets/player_front.png');
    /*border: 3px solid blue;*/
    background-size: 240px 100%;
    background-position: -80px 0;
    position: fixed;
    z-index: 1000;
  }
  .player.walk {
    animation: walk 0.35s step-end infinite;
  }
  
  @keyframes walk{
    0%, 32%{
      background-position: 0 0;
    }
    33%, 65%{
      background-position: -80px 0;
    }
    66%, 100%{
      background-position: -160px 0;
    }
  }
  
  .grass{
    width: 50px;
    height: 50px;
    background-image: url('assets/grass.png');
    background-size: 100% 100%;
    position: fixed;
    z-index: 0;
  }
  
  .pokeball{
    width: 30px;
    height: 30px;
    background-image: url('assets/pokeball.png');
    background-size: 100% 100%;
    position: fixed;
    z-index: 1;
  }
  
.ston1{
  width: 60px;
  height: 60px;
  position: fixed;
  z-index: 1000;
  background-size: 100% 100%;
  background-image: url('assets/ston.png');
  animation: spin 0.35s step-end infinite;
}
#ston2{
  width: 60px;
  height: 60px;
  position: fixed;
  z-index: 1000;
  background-size: 100% 100%;
  background-image: url('assets/ston.png');
  animation: spin 0.35s step-end infinite;
}
#ston3{
  width: 60px;
  height: 60px;
  position: fixed;
  z-index: 1000;
  background-size: 100% 100%;
  background-image: url('assets/ston.png');
  animation: spin 0.35s step-end infinite;
}

@keyframes spin{
  0%, 15%{
    transform: rotate(70deg);
  }
  16%, 50%{
    transform: rotate(150deg);
  }
  51%, 74%{
    transform: rotate(250deg);
  }
  75%, 100%{
    transform: rotate(360deg);
  }
}


  
  
  
  
  
  
  
  
  
  
  
  
  